@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --main-radius: 5px;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #212529;
}

#container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1.5fr 3.5fr;
    grid-template-rows: 0.3fr 3.3fr 0.3fr;
    grid-template-areas:
    "nav nav"
    "sidebar main"
    "footer footer";
    grid-gap: 0.3rem;
    text-transform: uppercase;
    font-size: 20px;
    color: #f8f9fa;
}

nav {
    background: #495057;
    grid-area: nav;
    border-radius: var(--main-radius);
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}

main {
    background: #343a40;
    grid-area: main;
    border-radius: var(--main-radius);  
}
    
    
#sidebar {
    background: #343a40;
    grid-area: sidebar;
    border-radius: var(--main-radius);   
}  

footer {
    background: #495057;
    grid-area: footer;
    border-radius: var(--main-radius);
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100%;
}

.button {
    background-color: #495057;
    height: 50px;
    width: 180px;
    margin-top: 20px;
    padding: 0;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    color:#f8f9fa;
    font-size: 18px;
    text-align: center;
}

.button:hover {
    background-color: #6c757d;
}


#sidebar h3, label {
    text-align: center;
}

input {
    background-color:#f8f9fa;
    text-decoration: none;
    border-radius: var(--main-radius);
    border: solid 2px #495057;
    height: 60px;
    width: 200px;
}

::placeholder {
    font-size: 20px;
    color:#536a94;
    opacity: 30%;
    text-align: center;
  }

.searchBox input, #searchButton, label {
    display: block;
    margin:15px auto;
}

h1 {
    margin-left: 150px;
    margin-right: 150px;
}

.playerImage {
    border: 4px double black;
    margin: 0 auto;
    width: 300px;
    height: 220px;
}

#playerPhoto {
    max-width: 310px;
}

.teamImage {
    margin: 0 auto;
    width: 400px;
    height: 300px;
}

.statsContainer {
    margin: 50px;
    background: #495057;
    border:  6px solid #6c757d;
    border-radius: var(--main-radius);
    padding: 0 20px;
}

#badges {
    display:flex;
    max-width: 800px;
    flex-wrap: wrap;
    margin: 5px;
    background: #495057;
    border:  6px solid #6c757d;
    border-radius: var(--main-radius);
}

.badge {
    width: 85px;
    height: 100px;
}

#photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#earnedBadges {
    margin: 20px auto;
    display: flex;
    max-width: 300px;
    flex-wrap: wrap;
    justify-content: center;
}

.badgeContainer {
    position: relative;
    display:flex;
    max-width: 180px;
    padding: 0 10px;
    margin: 4px;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #bcb8b1;
    border:  3px solid #463f3a;
    border-radius: var(--main-radius);
}

main {
    text-align: center;
}

#seasonStats h5 {
    display: inline;
}

#playerProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.badge_description {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    opacity: 0;
    margin: auto;
    padding: 0;
    transition: opacity 0.25s;
}

.badge_description:hover {
    opacity: 1;
}


@media screen and (max-width: 800px)  {
    #container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr, 1fr, 1fr, 0.3fr;
        grid-template-areas: 
        "nav"
        "sidebar"
        "main"
        "footer";
    }

    #stats, .photos {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #badges {
        margin: 10px auto;
        max-width: 500px;
        display:flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .badgeContainer {
        margin: 5px 30px;
    }

}