@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
    --main-radius: 5px;
}

body {
    font-family: 'Raleway', sans-serif;
    background: #023e8a;
}

#container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1.5fr 3.5fr;
    grid-template-rows: 0.3fr 3.3fr 0.3fr;
    grid-template-areas:
    "nav nav"
    "sidebar main"
    "footer footer";
    grid-gap: 0.3rem;
    text-transform: uppercase;
    font-size: 20px;
    color: #caf0f8;
}

nav {
    background: #4895ef;
    grid-area: nav;
    border-radius: var(--main-radius);
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}

main {
    background: #4cc9f0;
    grid-area: main;
    border-radius: var(--main-radius);  
}
    
    
#sidebar {
    background: #4cc9f0;
    grid-area: sidebar;
    border-radius: var(--main-radius);   
}  

footer {
    background: #4895ef;
    grid-area: footer;
    border-radius: var(--main-radius);
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100%;
}

.button {
    background-color: #023e8a;
    height: 50px;
    width: 180px;
    margin-top: 20px;
    padding: 0;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    color:#caf0f8;
    font-size: 18px;
    text-align: center;
}

.button:hover {
    background-color: #4361ee;
}


#sidebar h3, label {
    text-align: center;
}

input {
    background-color:#caf0f8;
    text-decoration: none;
    border-radius: var(--main-radius);
    border: solid 2px #4361ee;
    height: 60px;
    width: 200px;
}

::placeholder {
    font-size: 20px;
    color:#536a94;
    opacity: 30%;
    text-align: center;
  }

.searchBox input, #searchButton, label {
    display: block;
    margin:15px auto;
}

h1 {
    margin-left: 150px;
    margin-right: 150px;
}

.playerImage, .teamImage {
    margin: 0;
    padding: 0;
    width: 300px;
    height: 220px;
}

.statsContainer {
    margin: 40px;
    background: #4361ee;
    border:  6px solid #1d3557;
    border-radius: var(--main-radius);
    padding: 10px 20px;
}

#badges {
    display:flex;
    background: #4361ee;
    border:  6px solid #1d3557;
    border-radius: var(--main-radius);
}

.badge {
    width: 70px;
    height: 80px;
}

.badgeContainer {
    position: relative;
    display:flex;
    margin: 2px;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #213175;
    border:  6px solid #0e1d31;
    border-radius: var(--main-radius);
}

main {
    text-align: center;
}

#resultsBox {
    display: flex;
    flex-grow: 1; 
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

}

#seasonStats h5 {
    display: inline;
}

.statsContainer.photos {
    margin: 100px 50px;
}

#playerPhoto, #teamContainer {
    max-width: 400px;
}

.playerImage, .teamImage {
    display: block;
}

.badge_description {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    opacity: 0;
    margin: auto;
    padding: 0;
    transition: opacity 0.25s;
}

.badge_description:hover {
    opacity: 1;
}

@media screen and (max-width: 800px)  {
    #container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr, 1fr, 1fr, 0.3fr;
        grid-template-areas: 
        "nav"
        "sidebar"
        "main"
        "footer";
    }

    #stats, .photos {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #badges {
        margin: 10px auto;
        max-width: 500px;
        display:flex;
        flex-wrap: wrap;
    }

    .badgeContainer {
        margin: 5px 30px;
    }
}